@import './styles/loader.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303030;
}

canvas{
  position: absolute;
}

.loading-wrapper {
  background: lightgray;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2147000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  p {
    font-weight:bold;
  }
}

.emotion-show {
  font-size: 32px;
  color: white;
  text-transform: capitalize;
}
